{{>header}}

<div class="slideContainer">
            <div class="img-gallery">
          <img src="uploads/inosuke.png">
          <img src="uploads/luffy.jpg">
          <img src="uploads/luffy-mad.jpg">
          <img src="uploads/sanji.jpg">
          <img src="uploads/tanjiro.png">
          <img src="uploads/zenitsu.png">
          </div>


